body {
  background-color: #dee0f4;
}

h1 {
  font-family: "Playfair Display SC", serif;
  text-transform: uppercase;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: "Playfair Display", serif;
  padding: 20px;
}
h6 {
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.hero-info {
  background-color: #9098db;
  text-align: center;
  padding: 20px;
  position: relative;
}

.btn-outline {
  color: #dee0f4;
  background-color: rgb(89, 106, 202);
  border-radius: 4px;
  font-size: 19px;
  line-height: 29px;
  padding: 12px 20px;
  position: unset;
  justify-content: center;
}

.round {
  border-radius: 10px;
  width: 50%;
}
